<a href="https://colab.research.google.com/github/omkarjadhav056/omkar_jadhav/blob/main/cs6FA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install factor_analyzer

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting factor_analyzer
  Downloading factor_analyzer-0.4.1.tar.gz (41 kB)
     |████████████████████████████████| 41 kB 630 kB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from factor_analyzer) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from factor_analyzer) (1.7.3)
Collecting pre-commit
  Downloading pre_commit-2.20.0-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 6.0 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from factor_analyzer) (1.3.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from factor_analyzer) (1.0.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->factor_analyzer) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->factor_analyzer) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->factor_analyzer) (1.15.0)
Requirement already satisfied: toml in /usr/local/lib/python3.8/dist-packages (from pre-commit->factor_analyzer) (0.10.2)
Collecting identify>=1.0.0
  Downloading identify-2.5.11-py2.py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 7.3 MB/s
Collecting nodeenv>=0.11.1
  Downloading nodeenv-1.7.0-py2.py3-none-any.whl (21 kB)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.8/dist-packages (from pre-commit->factor_analyzer) (6.0)
Collecting virtualenv>=20.0.8
  Downloading virtualenv-20.17.1-py3-none-any.whl (8.8 MB)
     |████████████████████████████████| 8.8 MB 25.6 MB/s
Collecting cfgv>=2.0.0
  Downloading cfgv-3.3.1-py2.py3-none-any.whl (7.3 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from nodeenv>=0.11.1->pre-commit->factor_analyzer) (57.4.0)
Collecting distlib<1,>=0.3.6
  Downloading distlib-0.3.6-py2.py3-none-any.whl (468 kB)
     |████████████████████████████████| 468 kB 50.6 MB/s
Requirement already satisfied: platformdirs<3,>=2.4 in /usr/local/lib/python3.8/dist-packages (from virtualenv>=20.0.8->pre-commit->factor_analyzer) (2.6.0)
Requirement already satisfied: filelock<4,>=3.4.1 in /usr/local/lib/python3.8/dist-packages (from virtualenv>=20.0.8->pre-commit->factor_analyzer) (3.8.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->factor_analyzer) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->factor_analyzer) (1.2.0)
Building wheels for collected packages: factor-analyzer
  Building wheel for factor-analyzer (PEP 517) ... done
  Created wheel for factor-analyzer: filename=factor_analyzer-0.4.1-py2.py3-none-any.whl size=42034 sha256=540620814f3f2698eb435f3f7df54d2284a4bf2c67709ae73b3f00e2f2ec83e9
  Stored in directory: /root/.cache/pip/wheels/f5/8f/2e/a689c21bc4bf04f84ceebf4b1f5846cacc04bfe179e7ad5ab0
Successfully built factor-analyzer
Installing collected packages: distlib, virtualenv, nodeenv, identify, cfgv, pre-commit, factor-analyzer
Successfully installed cfgv-3.3.1 distlib-0.3.6 factor-analyzer-0.4.1 identify-2.5.11 nodeenv-1.7.0 pre-commit-2.20.0 virtualenv-20.17.1

In [2]:
# Import required libraries
import pandas as pd
from factor_analyzer import FactorAnalyzer
import matplotlib.pyplot as plt

In [5]:
df= pd.read_csv("bfi.csv")
df.columns

Index(['Unnamed: 0', 'A1', 'A2', 'A3', 'A4', 'A5', 'C1', 'C2', 'C3', 'C4',
       'C5', 'E1', 'E2', 'E3', 'E4', 'E5', 'N1', 'N2', 'N3', 'N4', 'N5', 'O1',
       'O2', 'O3', 'O4', 'O5', 'gender', 'education', 'age'],
      dtype='object')

In [6]:
df.head()

,Unnamed: 0,A1,A2,A3,A4,A5,C1,C2,C3,C4,...,N4,N5,O1,O2,O3,O4,O5,gender,education,age
0,61617,2.0,4.0,3.0,4.0,4.0,2.0,3.0,3.0,4.0,...,2.0,3.0,3.0,6,3.0,4.0,3.0,1,NaN,16
1,61618,2.0,4.0,5.0,2.0,5.0,5.0,4.0,4.0,3.0,...,5.0,5.0,4.0,2,4.0,3.0,3.0,2,NaN,18
2,61620,5.0,4.0,5.0,4.0,4.0,4.0,5.0,4.0,2.0,...,2.0,3.0,4.0,2,5.0,5.0,2.0,2,NaN,17
3,61621,4.0,4.0,6.0,5.0,5.0,4.0,4.0,3.0,5.0,...,4.0,1.0,3.0,3,4.0,3.0,5.0,2,NaN,17
4,61622,2.0,3.0,3.0,4.0,5.0,4.0,4.0,5.0,3.0,...,4.0,3.0,3.0,3,4.0,3.0,3.0,1,NaN,17

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2800 non-null   int64
 1   A1          2784 non-null   float64
 2   A2          2773 non-null   float64
 3   A3          2774 non-null   float64
 4   A4          2781 non-null   float64
 5   A5          2784 non-null   float64
 6   C1          2779 non-null   float64
 7   C2          2776 non-null   float64
 8   C3          2780 non-null   float64
 9   C4          2774 non-null   float64
 10  C5          2784 non-null   float64
 11  E1          2777 non-null   float64
 12  E2          2784 non-null   float64
 13  E3          2775 non-null   float64
 14  E4          2791 non-null   float64
 15  E5          2779 non-null   float64
 16  N1          2778 non-null   float64
 17  N2          2779 non-null   float64
 18  N3          2789 non-null   float64
 19  N4          2764 non-null   float64
 20  N5          2771 non-null   float64
 21  O1          2778 non-null   float64
 22  O2          2800 non-null   int64
 23  O3          2772 non-null   float64
 24  O4          2786 non-null   float64
 25  O5          2780 non-null   float64
 26  gender      2800 non-null   int64
 27  education   2577 non-null   float64
 28  age         2800 non-null   int64
dtypes: float64(25), int64(4)
memory usage: 634.5 KB

In [8]:
df.drop(['gender','education','age'],axis= 1,inplace=True)

In [9]:
df.head()

,Unnamed: 0,A1,A2,A3,A4,A5,C1,C2,C3,C4,...,N1,N2,N3,N4,N5,O1,O2,O3,O4,O5
0,61617,2.0,4.0,3.0,4.0,4.0,2.0,3.0,3.0,4.0,...,3.0,4.0,2.0,2.0,3.0,3.0,6,3.0,4.0,3.0
1,61618,2.0,4.0,5.0,2.0,5.0,5.0,4.0,4.0,3.0,...,3.0,3.0,3.0,5.0,5.0,4.0,2,4.0,3.0,3.0
2,61620,5.0,4.0,5.0,4.0,4.0,4.0,5.0,4.0,2.0,...,4.0,5.0,4.0,2.0,3.0,4.0,2,5.0,5.0,2.0
3,61621,4.0,4.0,6.0,5.0,5.0,4.0,4.0,3.0,5.0,...,2.0,5.0,2.0,4.0,1.0,3.0,3,4.0,3.0,5.0
4,61622,2.0,3.0,3.0,4.0,5.0,4.0,4.0,5.0,3.0,...,2.0,3.0,4.0,4.0,3.0,3.0,3,4.0,3.0,3.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2800 non-null   int64
 1   A1          2784 non-null   float64
 2   A2          2773 non-null   float64
 3   A3          2774 non-null   float64
 4   A4          2781 non-null   float64
 5   A5          2784 non-null   float64
 6   C1          2779 non-null   float64
 7   C2          2776 non-null   float64
 8   C3          2780 non-null   float64
 9   C4          2774 non-null   float64
 10  C5          2784 non-null   float64
 11  E1          2777 non-null   float64
 12  E2          2784 non-null   float64
 13  E3          2775 non-null   float64
 14  E4          2791 non-null   float64
 15  E5          2779 non-null   float64
 16  N1          2778 non-null   float64
 17  N2          2779 non-null   float64
 18  N3          2789 non-null   float64
 19  N4          2764 non-null   float64
 20  N5          2771 non-null   float64
 21  O1          2778 non-null   float64
 22  O2          2800 non-null   int64
 23  O3          2772 non-null   float64
 24  O4          2786 non-null   float64
 25  O5          2780 non-null   float64
dtypes: float64(24), int64(2)
memory usage: 568.9 KB

In [11]:
# Dropping missing values rows
df.dropna(inplace=True)

In [12]:
df.head()

,Unnamed: 0,A1,A2,A3,A4,A5,C1,C2,C3,C4,...,N1,N2,N3,N4,N5,O1,O2,O3,O4,O5
0,61617,2.0,4.0,3.0,4.0,4.0,2.0,3.0,3.0,4.0,...,3.0,4.0,2.0,2.0,3.0,3.0,6,3.0,4.0,3.0
1,61618,2.0,4.0,5.0,2.0,5.0,5.0,4.0,4.0,3.0,...,3.0,3.0,3.0,5.0,5.0,4.0,2,4.0,3.0,3.0
2,61620,5.0,4.0,5.0,4.0,4.0,4.0,5.0,4.0,2.0,...,4.0,5.0,4.0,2.0,3.0,4.0,2,5.0,5.0,2.0
3,61621,4.0,4.0,6.0,5.0,5.0,4.0,4.0,3.0,5.0,...,2.0,5.0,2.0,4.0,1.0,3.0,3,4.0,3.0,5.0
4,61622,2.0,3.0,3.0,4.0,5.0,4.0,4.0,5.0,3.0,...,2.0,3.0,4.0,4.0,3.0,3.0,3,4.0,3.0,3.0

In [13]:
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
chi_square_value,p_value=calculate_bartlett_sphericity(df)
chi_square_value, p_value

(18184.30630782077, 0.0)

In [14]:
from factor_analyzer.factor_analyzer import calculate_kmo
kmo_all,kmo_model=calculate_kmo(df)
print(kmo_all,kmo_model)

[0.61117947 0.75423878 0.83684634 0.87024471 0.87804271 0.90287407
 0.84310042 0.7959044  0.85096212 0.8265822  0.86415543 0.83871541
 0.88380142 0.89688431 0.87747671 0.89355679 0.77957992 0.77992832
 0.86232485 0.88530496 0.86026287 0.85833622 0.78028961 0.84440323
 0.76978907 0.76164188] 0.8483267027192372

In [15]:
kmo_model

0.8483267027192372

In [16]:
df.corr()

,Unnamed: 0,A1,A2,A3,A4,A5,C1,C2,C3,C4,...,N1,N2,N3,N4,N5,O1,O2,O3,O4,O5
Unnamed: 0,1.000000,0.045092,-0.050774,-0.015351,0.011072,0.003894,0.043056,0.042020,-0.011260,-0.004108,...,-0.018029,-0.043952,-0.002235,0.009216,-0.003419,0.017878,-0.025767,-0.007838,-0.007157,-0.001474
A1,0.045092,1.000000,-0.350905,-0.273636,-0.156754,-0.192698,0.014698,0.012918,-0.020587,0.115074,...,0.168279,0.139814,0.092366,0.042140,0.015181,0.005782,0.066176,-0.063788,-0.090512,0.099166
A2,-0.050774,-0.350905,1.000000,0.503041,0.350856,0.397400,0.102983,0.129574,0.188818,-0.146295,...,-0.093627,-0.050476,-0.040407,-0.086735,0.019688,0.125633,0.013958,0.165319,0.082609,-0.080838
A3,-0.015351,-0.273636,0.503041,1.000000,0.384918,0.515679,0.114211,0.146511,0.129391,-0.121116,...,-0.083266,-0.092473,-0.039158,-0.127107,-0.040143,0.150086,0.006588,0.226333,0.032267,-0.041750
A4,0.011072,-0.156754,0.350856,0.384918,1.000000,0.325644,0.094813,0.226454,0.133065,-0.172271,...,-0.106645,-0.155289,-0.073887,-0.171228,-0.015136,0.057075,0.037763,0.070983,-0.049793,0.027308
A5,0.003894,-0.192698,0.397400,0.515679,0.325644,1.000000,0.134692,0.116863,0.130820,-0.125531,...,-0.204765,-0.198836,-0.138472,-0.215346,-0.081404,0.162596,-0.006988,0.238191,0.011354,-0.050449
C1,0.043056,0.014698,0.102983,0.114211,0.094813,0.134692,1.000000,0.438223,0.317270,-0.362491,...,-0.071954,-0.038180,-0.025476,-0.098035,-0.047970,0.179249,-0.129263,0.196562,0.100189,-0.130471
C2,0.042020,0.012918,0.129574,0.146511,0.226454,0.116863,0.438223,1.000000,0.362826,-0.396090,...,-0.019951,-0.005586,0.003189,-0.044341,0.051212,0.161042,-0.057347,0.192681,0.047427,-0.066590
C3,-0.011260,-0.020587,0.188818,0.129391,0.133065,0.130820,0.317270,0.362826,1.000000,-0.357824,...,-0.079093,-0.066880,-0.077416,-0.122175,-0.023508,0.091141,-0.029604,0.058880,0.011360,-0.002809
C4,-0.004108,0.115074,-0.146295,-0.121116,-0.172271,-0.125531,-0.362491,-0.396090,-0.357824,1.000000,...,0.215852,0.158346,0.201905,0.270633,0.197062,-0.093561,0.208072,-0.083027,0.053014,0.189543
C5,-0.010456,0.038293,-0.121106,-0.153811,-0.249675,-0.167036,-0.261079,-0.303820,-0.350949,0.487551,...,0.216414,0.246298,0.241599,0.354664,0.179009,-0.085630,0.122596,-0.074129,0.135482,0.055804
E1,0.046068,0.107178,-0.222280,-0.210366,-0.133600,-0.252310,-0.030506,0.017052,-0.009045,0.098480,...,0.014867,0.020181,0.054725,0.235033,0.054037,-0.104510,0.049378,-0.217140,0.094333,0.088860
E2,0.050658,0.087922,-0.243084,-0.291863,-0.209979,-0.338485,-0.106797,-0.075232,-0.089244,0.207823,...,0.176194,0.206527,0.193497,0.351302,0.259379,-0.158476,0.079402,-0.237783,0.171923,0.081439
E3,-0.028533,-0.048913,0.255066,0.383131,0.204377,0.411831,0.134767,0.152957,0.092564,-0.084545,...,-0.046680,-0.059906,-0.016664,-0.146580,-0.079549,0.328152,-0.073949,0.406377,0.052749,-0.123032
E4,-0.030709,-0.069781,0.297125,0.387630,0.318935,0.482558,0.153208,0.122901,0.099537,-0.112542,...,-0.143524,-0.152192,-0.122642,-0.306494,-0.103521,0.137764,0.049936,0.215286,-0.099381,0.047375
E5,-0.032384,-0.020182,0.294191,0.253463,0.168873,0.268616,0.267829,0.257836,0.207488,-0.235012,...,0.034054,0.038921,-0.065330,-0.207172,-0.141918,0.290956,-0.084628,0.305585,-0.000993,-0.113211
N1,-0.018029,0.168279,-0.093627,-0.083266,-0.106645,-0.204765,-0.071954,-0.019951,-0.079093,0.215852,...,1.000000,0.718260,0.567346,0.409869,0.380595,-0.051269,0.135227,-0.039215,0.078796,0.106132
N2,-0.043952,0.139814,-0.050476,-0.092473,-0.155289,-0.198836,-0.038180,-0.005586,-0.066880,0.158346,...,0.718260,1.000000,0.550060,0.394838,0.350795,-0.043021,0.117041,-0.029635,0.130927,0.024446
N3,-0.002235,0.092366,-0.040407,-0.039158,-0.073887,-0.138472,-0.025476,0.003189,-0.077416,0.201905,...,0.567346,0.550060,1.000000,0.523270,0.430630,-0.039684,0.104223,-0.028228,0.165739,0.056517
N4,0.009216,0.042140,-0.086735,-0.127107,-0.171228,-0.215346,-0.098035,-0.044341,-0.122175,0.270633,...,0.409869,0.394838,0.523270,1.000000,0.402923,-0.048703,0.074038,-0.062915,0.220128,0.035744
N5,-0.003419,0.015181,0.019688,-0.040143,-0.015136,-0.081404,-0.047970,0.051212,-0.023508,0.197062,...,0.380595,0.350795,0.430630,0.402923,1.000000,-0.129129,0.186831,-0.080494,0.111470,0.138288
O1,0.017878,0.005782,0.125633,0.150086,0.057075,0.162596,0.179249,0.161042,0.091141,-0.093561,...,-0.051269,-0.043021,-0.039684,-0.048703,-0.129129,1.000000,-0.230459,0.392942,0.176874,-0.246470
O2,-0.025767,0.066176,0.013958,0.006588,0.037763,-0.006988,-0.129263,-0.057347,-0.029604,0.208072,...,0.135227,0.117041,0.104223,0.074038,0.186831,-0.230459,1.000000,-0.283608,-0.074781,0.327783
O3,-0.007838,-0.063788,0.165319,0.226333,0.070983,0.238191,0.196562,0.192681,0.058880,-0.083027,...,-0.039215,-0.029635,-0.028228,-0.062915,-0.080494,0.392942,-0.283608,1.000000,0.183890,-0.310072
O4,-0.007157,-0.090512,0.082609,0.032267,-0.049793,0.011354,0.100189,0.047427,0.011360,0.053014,...,0.078796,0.130927,0.165739,0.220128,0.111470,0.176874,-0.074781,0.183890,1.000000,-0.182152
O5,-0.001474,0.099166,-0.080838,-0.041750,0.027308,-0.050449,-0.130471,-0.066590,-0.002809,0.189543,...,0.106132,0.024446,0.056517,0.035744,0.138288,-0.246470,0.327783,-0.310072,-0.182152,1.000000

In [17]:
df.count()

Unnamed: 0    2436
A1            2436
A2            2436
A3            2436
A4            2436
A5            2436
C1            2436
C2            2436
C3            2436
C4            2436
C5            2436
E1            2436
E2            2436
E3            2436
E4            2436
E5            2436
N1            2436
N2            2436
N3            2436
N4            2436
N5            2436
O1            2436
O2            2436
O3            2436
O4            2436
O5            2436
dtype: int64

In [18]:
fa = FactorAnalyzer(n_factors =3,rotation= 'varimax')
fa.fit(df)

FactorAnalyzer(rotation='varimax', rotation_kwargs={})

In [19]:
fa.get_factor_variance()

(array([3.27939442, 2.67445615, 2.24249104]),
 array([0.12613055, 0.1028637 , 0.08624966]),
 array([0.12613055, 0.22899425, 0.31524391]))

In [20]:
ev, v= fa.get_eigenvalues()

In [21]:

fa = FactorAnalyzer()
fa.fit(df)

fa.loadings_

array([[-0.07131035, -0.01751926,  0.05405798],
       [-0.23219058,  0.08334477,  0.03458871],
       [ 0.5413533 ,  0.06211685,  0.04667964],
       [ 0.64586903,  0.04331579,  0.00192803],
       [ 0.3910012 , -0.0592843 ,  0.07552545],
       [ 0.64743433, -0.08504573, -0.01610074],
       [-0.012761  ,  0.08019221,  0.61189813],
       [-0.00668553,  0.14317342,  0.63664785],
       [-0.00354386, -0.00201999,  0.48602329],
       [ 0.05511348,  0.18756638, -0.63069868],
       [-0.05185813,  0.26189667, -0.46496583],
       [-0.53560024,  0.02486523,  0.09320605],
       [-0.57445534,  0.2160911 , -0.01194907],
       [ 0.6069387 ,  0.09092885,  0.0968013 ],
       [ 0.69550544, -0.10590157, -0.06884823],
       [ 0.4264341 ,  0.09512995,  0.30777364],
       [ 0.00397076,  0.74125646, -0.06354794],
       [-0.02255664,  0.74077167, -0.01052292],
       [ 0.01980718,  0.74281971, -0.04895261],
       [-0.1871232 ,  0.58791351, -0.08352484],
       [-0.0122797 ,  0.50640962, -0.09478277],
       [ 0.20715947,  0.08634594,  0.28898683],
       [ 0.06626166,  0.09010407, -0.30154905],
       [ 0.33053068,  0.12238437,  0.26646912],
       [-0.01618707,  0.27125849,  0.14424164],
       [-0.01671831, -0.00619755, -0.27851083]])

In [ ]:
ev, v = fa.get_eigenvalues()
ev

In [ ]:
df.describe()

In [ ]:
df.shape[1]+1

In [ ]:
ev1,v1 =fa.get_eigenvalues()

In [ ]:
# Create scree plot using matplotlib
plt.scatter(range(1,df.shape[1]+1),ev)
plt.plot(range(1,df.shape[1]+1),ev)
plt.title('Scree Plot')
plt.xlabel('Factors')
plt.ylabel('Eigenvalue')
plt.grid()
plt.show()

In [ ]:
# Create scree plot using matplotlib
plt.scatter(range(1,df.shape[1]+1),ev1)
plt.plot(range(1,df.shape[1]+1),ev1)
plt.title('Scree Plot')
plt.xlabel('Factors')
plt.ylabel('Eigenvalue')
plt.grid()
plt.show()

In [ ]:
# Get variance of each factors
fa.get_factor_variance()

In [ ]:
fa.get_communalities() # 3 components

In [ ]:
fa.get_communalities() # 2 components

In [ ]:
fa.get_uniquenesses()